.right{
  display: flex;
  align-items: center;
}
.mainItemBox{
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.textBox{
  padding: 0 5px;
}
.time{
  margin-top: 5px;
  color: darkgray;
  font-size: 12px;
}
.right>input{
  padding: 50px;
}
.myinput.large {
  height: 22px;
  width: 22px;
}

.myinput.large[type="checkbox"]:before {
  width: 40px;
  height: 40px;
}

.myinput.large[type="checkbox"]:after {
  top: -20px;
  width: 16px;
  height: 16px;
}
.delete , .edit{
  padding: 5px;
  border-radius: 3px;
  color: gray;
  margin: 0 5px;
  background-color: rgb(231, 228, 228);
}

