.allItems{
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: rgb(235, 235, 235);
}
h1{
  text-align: center;
  color: gray;
}
.mainDiv{
  display: flex;
  justify-content: center; 
  align-items: center;
}
.container{
  width: 50%;
  border: none;
}
.buttons{
  display: flex;
  justify-content: space-between;
}

